.page {
  background-image: url('../../assets/logo_lab_alpha.png');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center bottom;
  background-color: white;
  /* to centre page on screen*/
  margin-left: auto;
  height: 100%;
  margin-right: auto;
  padding: 1rem, 0.5rem;
  position: relative;
}

.pages-content {
  min-width: 210mm;
  min-height: 100%;
}

@media print {
  .pages-content {
    display: block;
  }
}
* {
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
  color-adjust: exact !important; /*Firefox*/
}
