.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #18366b;
  color: #18366b;
  display: block;
  margin-bottom: 0.5rem;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #305591;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: #69758a;
  border: 1px solid #69758a;
}
